In [1]:
# --- Make local package importable (robust for notebooks in subfolders) ---
import sys
from pathlib import Path

def add_src_to_path(pkg="quantlib", levels_up=3):
    here = Path.cwd().resolve()
    candidates = [here / "src"]
    # also check parents: ../src, ../../src, ...
    for i in range(1, levels_up+1):
        candidates.append(here.parents[i-1] / "src")
    for p in candidates:
        if (p / pkg / "__init__.py").exists():
            sys.path.insert(0, str(p))
            print(f"[OK] Added to sys.path: {p}")
            return p
    raise FileNotFoundError("Could not find src/quantlib/__init__.py relative to this notebook.")

add_src_to_path()

[OK] Added to sys.path: C:\Users\quantbase\Desktop\quant\src

WindowsPath('C:/Users/quantbase/Desktop/quant/src')

In [2]:
# 03_stats.ipynb
import sys, pathlib; sys.path.append(str(pathlib.Path.cwd() / "src"))
from pathlib import Path
import pandas as pd
from quantlib import stats as qstat

DATA_INT = Path(r"C:\Users\quantbase\Desktop\quant\data_int")

r_1d = pd.read_pickle(DATA_INT / "log_returns_daily.pkl").sort_index()

In [3]:
# --- rolling mean/std/z (21,63,252) ---
mu21, sd21 = qstat.rolling_mean_std(r_1d, 21); z21 = qstat.z_scores(r_1d, 21)
mu63, sd63 = qstat.rolling_mean_std(r_1d, 63)
mu252, sd252 = qstat.rolling_mean_std(r_1d, 252)

# --- skew/kurt (21 & 252) ---
sk21, kt21 = qstat.rolling_skew_kurt(r_1d, 21)
sk252, kt252 = qstat.rolling_skew_kurt(r_1d, 252)

# save key files used elsewhere so we have correct data on all notebooks
z21.to_pickle(DATA_INT/"z_daily_21.pkl")
sk21.to_pickle(DATA_INT/"skew_daily_21.pkl"); kt21.to_pickle(DATA_INT/"kurt_daily_21.pkl")
sk252.to_pickle(DATA_INT/"skew_yearly_252.pkl"); kt252.to_pickle(DATA_INT/"kurt_yearly_252.pkl")

print("Stats done. Examples:")
display(z21.tail(3)); display(sk21.tail(1)); display(kt21.tail(1))

Stats done. Examples:

,ZOMATO,ACI,ADANIENT,ADANIPORTS,AEROFLEX,AETHER,AVALON,AXISBANK,BAJFINANCE,BANDHANBNK,...,SWIGGY,SYNGENE,TATACONSUM,TATAELXSI,TATAPOWER,UJJIVANSFB,VBL,VINCOFE,WAAREERTL,WHIRLPOOL
date,,,,,,,,,,,,,,,,,,,,,
2025-09-05,0.361217,-0.131897,0.118599,-0.275296,0.668979,-0.274621,1.832349,0.683604,0.036338,0.369093,...,1.288805,-0.497587,0.066443,0.639513,0.776773,-0.699787,-2.074812,-0.217482,0.046241,0.263032
2025-09-08,-0.246748,-0.054285,0.708614,1.511276,0.070845,-0.047894,0.104477,0.036605,0.201698,0.449108,...,0.155963,0.192290,0.056353,0.504737,-0.588667,2.075471,0.652412,0.015161,-0.152845,0.196569
2025-09-09,-1.186503,-0.318286,-0.057862,1.606673,-0.772494,0.125322,0.389415,-0.241119,0.040513,-0.358797,...,-0.796065,-0.321887,0.563805,1.382846,0.347426,2.921942,0.205944,-0.707019,1.524295,0.220475

,ZOMATO,ACI,ADANIENT,ADANIPORTS,AEROFLEX,AETHER,AVALON,AXISBANK,BAJFINANCE,BANDHANBNK,...,SWIGGY,SYNGENE,TATACONSUM,TATAELXSI,TATAPOWER,UJJIVANSFB,VBL,VINCOFE,WAAREERTL,WHIRLPOOL
date,,,,,,,,,,,,,,,,,,,,,
2025-09-09,0.379969,0.432817,0.702972,0.666193,1.173415,-0.39147,-0.084113,0.122809,0.810082,0.508615,...,0.170232,-0.089121,-0.583007,0.060385,-0.272152,1.237821,-0.308824,0.411292,0.382388,0.852993

,ZOMATO,ACI,ADANIENT,ADANIPORTS,AEROFLEX,AETHER,AVALON,AXISBANK,BAJFINANCE,BANDHANBNK,...,SWIGGY,SYNGENE,TATACONSUM,TATAELXSI,TATAPOWER,UJJIVANSFB,VBL,VINCOFE,WAAREERTL,WHIRLPOOL
date,,,,,,,,,,,,,,,,,,,,,
2025-09-09,-1.203256,1.359886,1.804664,-0.431339,0.872694,0.146993,1.251094,0.830273,2.493485,1.087217,...,-1.160908,-0.680928,0.647448,-0.676432,-0.973148,2.548647,-0.185149,0.239654,-0.093094,2.979392